html {
    scroll-behavior: smooth;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}
:root{
    --BG:#E61414
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button:hover{
    cursor: pointer;
}
/* navbar */

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    z-index: 9999;
    gap: 140px;

    
}
.navbar ul{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.navbar ul li{
    font-size: 1.0625rem;
    padding-left: 20px;
   font-weight: 500;
}

.navbar ul li a{
    color: #7f7f90;
    position: relative;
}

.navbar ul li a::before{
    content:'';
    background-color: #CE1212;
    width: 0%;
    height: 2px; 
    position: relative;
    left: -1px;
    bottom: -10px;
    overflow: hidden;
    transition: all .5s;

}
.navbar ul li:hover a{
    color: black;
}

.navbar ul li a:hover::before{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: absolute;
    transition: all .5s;
    width: 100%;
    -moz-transform: perspective(1px) translateZ(0);
    -ms-transform: perspective(1px) translateZ(0);
    -o-transform: perspective(1px) translateZ(0);
}

#select a::before{
    content:'';
    background-color: #CE1212;
    width: 100%;
    height: 2px; 
    position: absolute;
    left: -1px;
    bottom: -10px;
}
.mode{
    padding: 10px;
}
.mode .light{
    display:none;
}
.mode i{
   font-size: 25px;
   cursor: pointer;
}

.logo{
    font-size: 30px;
    color: black;
}
.logo::after{
    content: '.';
    font-size: 30px;
    color: #CE1212;
    font-weight: 800;
}
body:not(:has(:target)) .home-link,
body:has(.home:target) .home-link,
body:has(.chefs:target) .chefs-link,
body:has(.gallery:target) .gallery-link,
body:has(.contact:target) .contact-link{
    color: black;
}
body:not(:has(:target)) .home-link::before,
body:has(.home:target) .home-link::before,
body:has(.chefs:target) .chefs-link::before,
body:has(.gallery:target) .gallery-link::before,
body:has(.contact:target) .contact-link::before{

    
    content:'';
    background-color: #CE1212;
    width: 100%;
    height: 2px; 
    position: absolute;
    left: -1px;
    bottom: -10px;

}


/* home */
.home{
    background-color: #EEEEEE;
    height: 100vh;
}
.home .main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 100px 30px ;
}
.home .main .content{ 
    width: 40%;
}

.home .main .content h2{
  font-size: 4.0625rem;
  font-family: 'Amatic SC', sans-serif;
  color: #37373f;
  
}
.home .main .content p{
  font-size: 1rem;
  color: #4f4f5a;
  line-height: 1.6;
  margin-block: 20px;
  
  
}
.home .btn{
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.home .video-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:5px;
    color: black;
}
.home .video-btn:hover{
    color: var(--BG);
}

.home .btn .icon{
    width: 3.4375rem;
    height: 3.4375rem;
    border-radius: 50%;
    background-image: linear-gradient( to right, #CE1212 0 50%, transparent 50% 100% );
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-right: 0.3125rem;
    position: relative;

}
.home .btn .icon::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color:#fff;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: inherit;
    

}
.home .btn .icon i{
    font-size: 30px;
    z-index: 2;
}

.home .btn .btn-main{
    border-radius: 0px 100vh 100vh; 
    background-color: #CE1212;
    padding: 0.625rem 1.5625rem;
    color: white;
}
.home .btn .btn-main:hover{
    background-color:var(--BG);
}

.home .main .picture{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.home .main .picture img{
    width: 100%;
    filter: drop-shadow(4px 4px 9px #000a);
}
/* chefs */
.title{
    text-align: center;
    margin: 50px;
}
 
.title h2{
    font-size: 0.875rem;
    color: #7f7f90;
    font-weight: 400;
}
.title p{
    font-size:3.125rem;
    color: black;
    font-family: 'Amatic SC', sans-serif;
}
 .active{
    color: #CE1212;
    font-family: 'Amatic SC', sans-serif;
 }
 .chefs .card{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 29px 10px;
    text-align: center;
 }
 
 .chefs .card .card1{
    width: 30%;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;

}

 .chef-social-media{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    top: 30;
    right: -100px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    transition: all 1s;
 }
 .chef-social-media i{
    padding: 10px 5px;
    color: gray;
 }
 
 .card1:hover .chef-social-media{
    right: 10;
 }
 .chef-social-media i :hover{
    background-color: rgba(0, 0, 0, 0.721);;
    cursor: pointer;
 }

 .chefs .card .card1 .image{
    width: 100%;
 }
 svg{
    margin: -70px;
 }
 
 .chefs .card .card1 .image img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
 }
 .chefs .card .card1 .contant{
    padding: 20px;
 }
 .chefs .card .card1 .contant h3{
    padding: 5px;
 }
 .chefs .card .card1 .contant p{
    color: #808080;
    margin: 5px 0;
 }
 .chefs .card .card1 .contant span{
    color: #808080;
}

/* gallery */

.gallery {
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px 0;
}
.gallery-container {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.album {
    width: 30%;
}

.gallery-layer {
    position: relative;
    margin-bottom: 30px;
    border: 5px solid white;
    overflow: hidden;
}

.album img {
    width: 100%;
    transition: all 0.5s;
}


.layer {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    transition: all 0.5s;
}

.layer h2,
p {
    color: white;
}

.gallery-layer:hover img {
    transform: scale(1.1);
}

.gallery-layer:hover .layer {
    top: 0;
}



 
/* contact */
.contact{
  padding-bottom: 30px;
}
.map{
    width: 90%;
    margin: auto;
}
.map iframe{
    width: 100%;
}
.details{
    padding: 50px 0;
    margin: auto;
}
.details-container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.details-item{
    width: 49%;
    background-color: #EEEEEE;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.details-icon{
    background-color: #ce1212;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.details-icon i{
    color: white;
    font-size: 20px;
}
.details-text{
    padding: 10px 0;
    text-align: left;
    margin-left: 20px;
}
.details-text h3{
    color: #808080;
    font-size: 20px;
    margin-bottom: 5px;
}
.details-text p{
    color: black;
    
}
.contact-input{
    width: 90%;
    margin: auto;
    padding: 20px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}
.contact-input form{
 width: 100%;
 display: flex;
 justify-content: space-between;
 width: 100%; 
 flex-wrap: wrap;  
 padding: 10px 0;
    
}

input{
    padding: 20px 15px;
    margin-bottom: 10px;
    border: 2px solid rgba(128, 128, 128, 0.39) ;
    outline: none;
}
input:hover{
    border: 2px solid #ce1212;
    transition: all 1s;
}
input[type=text] {
    width: 49%;
}

input[type=email] {
    width: 50%;
}
#sub{
    width: 100%;
}
textarea{
    width: 100%;
   border: 2px solid rgba(128, 128, 128, 0.39) ;
   padding: 20px 15px;
   outline: none;
   resize: vertical;
}
textarea:hover{
    border: 2px solid #ce1212;
    transition: all 1s;
    
}
.btn-contact{
    width: 100%;
    margin-top: 20px;
    
    display: flex;
    justify-content: center;
}
.btn-contact button{
    padding: 15px 50px;
    border-radius: 30px;
    background-color: #ce1212;
    border: none;
    color: white;
   
}
.btn-contact button:hover{
    background-color: var(--BG);
}
/* footer */
.footer{
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.6), hsla(0, 0%, 0%, 0.6)), url(../image/textured-metal-background.jpg);
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.419);
    background-size: 50% 100%;
    padding: 30px 0;
    position: relative;
}
.footer-content{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.footer-media{
    width: 25%;
    padding: 10px;
}
.footer-logo{
    display: flex;
    align-items: center;
}
.footer-logo img{
  width: 20%;
  border-radius: 50%;
}
.footer-logo h2{
  color: white;
  margin: 10px;
  font-size: 30px;
}
.footer-logo h2::after{
    content: '.';
    font-size: 30px;
    color: #CE1212;
    font-weight: 800;
}
.footer-media p{
    margin: 10px 0;
}
.footer-media h3{
   color: white;
   text-align: center;
   font-size: 20px;
}

.footer-media hr{
    margin: 10px 0;
    border: 1px solid #ddd6;
}
.footer-media .icon-media{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}
.footer-media .icon-media i{
    color: white;
    font-size: 20px;
}
.footer-media .icon-media i:hover{
    cursor: pointer;
}
.footer-subscribe{
    width: 45%;
    padding: 10px;
}
.footer-subscribe h3{
   color: white;
}
.footer-subscribe p{
   color: white;
   padding: 10px 0;
}
.footer-btn{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-block: 1.25rem;
    align-items: center;
    
    
}
.footer-btn input{
   flex-grow: 1;
   padding: 10px;
   outline: none;
}
.footer-btn button{
   background-color: #CE1212;
   color: white;
   padding: 11px ;
   border: none;
   margin: auto;
  margin-top: 0;
}
.footer-btn button i{
   font-size: 15px;
   margin-right: 10px;
}
.footer-btn button:hover{
    background-color:var(--BG);
}
.footer-content h3{
  color: white;
}
.footer-link{
    display: flex;
    justify-content: space-evenly;
    color: white;
}
.footer-link ul{
    width: 48%;
    padding: 5px;
}
.footer-link ul li{
    margin-top: 10px;
    padding: 5px 0;
}
.hvr-forward{
    display: flex;
}
.hvr-forward:hover{
    background-color:  rgba(128, 128, 128, 0.249);
    cursor: pointer;
}
.footer-contact{
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.footer-contact ul li{
    padding: 5px;
}
.footer-contact ul li a{
   color: white;
}
.footer-contact ul li a i{
   color:#CE1212;
   font-size: 20px;
   margin-right: 10px;
}



















